<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Welcome to your blog!</title>
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div id="doc">
    <div id="menu">
        {{> nav}}
    </div>
    <div id="main">
        {{{body}}}
    </div>
    <div id="ft">
        {{> footer}}
    </div>
</div>
</body>
</html>